services:
  bot:
    restart: always
    build:
      context: "./"
      dockerfile: "Dockerfile"
    environment:
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      TRACEBACK_CHANNEL_ID: ${TRACEBACK_CHANNEL_ID}
    container_name: "ValorantBot"
    volumes:
      - ./:/app
    working_dir: "/app"
    tty: true
    networks:
      - app-net
  db:
    restart: always
    image: postgres:latest
    container_name: "ValorantBot-DB"
    environment:
      POSTGRES_USER: ${POSTGRESQL_USER}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
    volumes:
      - ./postgres/init:/docker-entrypoint-initdb.d
      - db-data:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  db-data: